extends templates/layout.pug

block vars
  - var activepage = "about";

block content
  .about
    section.masthead-small
      .masthead-bg(style="background-image: url(images/img-masthead-commingsoon.png")
      .masthead-text
        .container
          .row.justify-content-center
            .col-lg-10
              .row
                .col-md-7
                  h1 About Indonesian Neurological Association
                .col-md-5
                  span.masthead-date 10 - 14 September 2024 / Jakarta

    section.about-desc
      .container
        .row.justify-content-center
          .col-lg-10
            h2 INDONESIAN NEUROLOGICAL ASSOCIATION
            article
              p International Federation of Clinical Neurophysiology (IFCN) represents national and international sections of professional individuals and societies who share the desire to promote best practices in clinical neurophysiology through education and research throughout the world. 

              p We facilitate collaboration, dialogue and understanding within our members and with other professionals passionate in clinical neurophysiology and the greater healthcare communities. We strive to unify healthcare communities to foster innovation, facilitate the exchange of knowledge, and promote best practices, while establishing guidelines to enhance clinical neurophysiology care to meet global needs.

            .box-img
              img(src="images/img-aboutina-01.png", alt="img")







