extends templates/layout.pug

block vars
  - var activepage = "home";

block content
  .about
    section.masthead-small
      .masthead-bg(style="background-image: url(images/img-masthead-commingsoon.png)")
      .masthead-text
        .container
          .row.justify-content-center
            .col-lg-9
              .row
                .col-md-6
                  h1 About ICCN 2024
                .col-md-6
                  span.masthead-date 10 - 14 September 2024 / Jakarta

    section.block-commingsoon
      .container
        .row.justify-content-center
          .col-lg-10
            .box-commingsoon
              h2 COMING SOON
