extends templates/layout.pug

block vars
  - var activepage = "about";

block content
  .about
    section.masthead-small
      .masthead-bg(style="background-image: url(images/img-about-masthead.png)")
      .masthead-text
        .container
          .row
            .col-md-6
              h1 About ICCN 2024
            .col-md-6
              span.masthead-date 10 - 14 September 2024 / Jakarta

    section.about-desc
      .container
        h2 INTERNATIONAL FEDERATION OF CLINICAL NEUROPHYSIOLOGY <br>ICCN 2024, JAKARTA

        artcile
          p The International Federation of Clinical Neurophysiology (IFCN) and the Indonesian Neurological Association (PERDOSSI) are pleased to announce the 33rd International Congress of Clinical Neurophysiology will be held September 10-14, 2024 in Jakarta, Indonesia.
          p The ICCN 2024 program will include several signature courses, as well as symposia and workshops planned by IFCN Member Societies and other prominent societies in clinical neurophysiology from around the world. Congress courses and workshops are designed to provide a solid review of the fundamentals and the latest scientific advances in both central and peripheral clinical neurophysiology.

          p Through this activity, we hope that all participants could continuously grow and update their knowledge in the field of neurology, especially in clinical neurophysiology.


    section.about-committee
      .container
        .section-title
          h2 All COMMITEE
        .committee-wrapper.row
          .col-md-6
            .committee-card
              h3 ADVISOR
              ul
                li
                  span Dodik Tugasworo
                  span.position President of Indonesian Neurological Association
                li
                  span Jonathan Cole
                  span.position President of International Federation of Clinical Neurophysiology
            .committee-card
              h3 SECRETARY
              ul
                li
                  span Winnugroho Wiratman
                li
                  span Nortina Shahrizaila (Malaysia)
            .committee-card
              h3 SCIENTIFIC CHAIR
              ul
                li
                  span Fitri Octaviana
            .committee-card
              h3 Scientific Members:
              ul
                li
                  span Astri Budikayanti
                li
                  span Dyah Tunjungsari
                li
                  span Herlyani Khosama
                li
                  span Suryani Gunadharma
                li
                  span Shahdevi Nandar Kurniawan
                li
                  span Luh Ari Indrawati
                li
                  span Indra Sari Kusuma Harahap
                li
                  span Zamroni AfifJonathan Cole (United Kingdom)
                li
                  span Walter Paulus (Germany)
                li
                  span Aatif M. Husain (USA)
                li
                  span Nortina Shahrizaila (Malaysia)
                li
                  span Margitta Seeck (Switzerland)
                li
                  span Ulf Ziemann (Germany)
                li
                  span Yoshikazu Ugawa (Japan)
                li
                  span Hatice Tankisi (Denmark)
                li
                  span Paulo Kimaid (Brazil)
                li
                  span Peter Kaplan (USA)
                li
                  span Jorge Guttierez (Colombia)
                li
                  span Lynn Liu (USA)
                li
                  span Ricardo Kientiz (Germany)
                li
                  span Akio Ikeda (Japan)
                li
                  span Elizabeth Walker (ANZAN/ New Zealand)
                li
                  span Byung-Jo Kim (Korea)
                li
                  span Yew-Long Lo (Singapore)
                li
                  span Hans Damian (Philippine)
                li
                  span Rawiphan Witoonpanich (Thailand)
                li
                  span Dongsheng Fan (China)
                li
                  span Chi Nam Lee (Hong-Kong)
                li
                  span Rabani Remli (Malaysia)
                li
                  span Mathew Alexander (India)
                li
                  span Choung-ching Lin (Taiwan)
                li
                  span Hoang Tien Trong Nghia (Vietnam)
          .col-md-6
            .committee-card
              h3 TREASURER
              ul
                li
                  span Meidianie Camellia
                li
                  span Aatif M. Husain (USA)
                li
                  span Amanda Tiksnadi
            .committee-card
              h3 ICCN 2024 CONVENOR
              ul
                li
                  span Manfaluthy Hakim
            .committee-card
              h3 local organizer
              ul
                li
                  span Ahmad Yanuar Safri
            .committee-card
              h3 programme manager
              ul
                li
                  span Adrian Ridski Harsono
            .committee-card
              h3 Marketing & Promotions
              ul
                li
                  span Mariana Soetopo
                li
                  span Amanda Nabila
            .committee-card
              h3 Sponsorship & Exhibition
              ul
                li
                  span Zulfa Indah K Fadhly
                li
                  span Dhara Ayu Lestari
            .committee-card
              h3 Logistics-Delegates, Faculty, & Venue
              ul
                li
                  span Ramdinal Aviesena Zairinal
                li
                  span Pricilla Yani Gunawan
                li
                  span Aldy NovriansyahIrma Savitri
                li
                  span Hanna Karmila
            .committee-card
              h3 Registration
              ul
                li
                  span Ade Wijaya
                li
                  span Dinda Diafiri
            .committee-card
              h3 IT & Post-conference
              ul
                li
                  span Ni Nengah Rida Ariarini
                li
                  span Fadil
                li
                  span Fidiana
                li
                  span David
                li
                  span Syairah Banu

    section.about-contact
      .container
        .row.justify-content-center
          .col-lg-8
            .section-title
              h2 our contact
            .contact-wrap.row
              .col-md-6
                .contact-card
                  h3 address information
                  address Jl. Gatot Subroto No.1, RT.1/RW.3, Gelora, Kecamatan Tanah Abang, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10270
              .col-md-6
                .contact-card
                  h3 contact information
                  ul
                    li
                      span Telephone :
                      a(href="tel: +6282452156231") +6282452156231
                    li
                      span Email :
                      a(href="mailto: payment@iccn-2024.com") payment@iccn-2024.com
                      ul
                        li
                          a(href="mailto: payment@iccn-2024.com") payment@iccn-2024.com
                        li
                          a(href="mailto: info@iccn-2024.com") info@iccn-2024.com
                        li
                          a(href="mailto: scientific@iccn-2024.com") scientific@iccn-2024.com
                        li
                          a(href="mailto: registration@iccn-2024.com") registration@iccn-2024.com
