extends templates/layout.pug

block vars
  - var activepage = "abstract";

block content
  .abstract
    section.masthead-small
      .masthead-bg(style="background-image: url(images/img-abstract-categories.png)")
      .masthead-text
        .container
          .row.justify-content-center
            .col-lg-10
              .row
                .col-md-6
                  h1 Abstract Categories
                .col-md-6
                  span.masthead-date 10 - 14 September 2024 / Jakarta

    section.abstract-categories-desc
      .container
        .row.justify-content-center
          .col-lg-10
            .section-heading
              h2 CATEGORIES FOR ABSTRACT SUBMISSIONS
              p Abstracts submitted to ICCN 2024 must fit into one of the following categories to be considered for presentation:

    section.abstract-categories-content
      .container
        .row.justify-content-center
          .col-lg-10
            .box-categories
              .box-title
                h3 Medical Condition
              .box-content
                ul.custom-list
                  li Aging Acute seizure emergencies, status epilepticus
                  li Adult epilepsy
                  li Autoimmune disorders
                  li Central demyelinating disorders
                  li Coma and disorders of consciousness
                  li Dementia and cognitive disorders
                  li Headache and facial pain
                  li Motor neuron disease
                  li Movements disorders (including dystonia)
                  li Muscle diseases
                  li Neuromuscular junction disorders
                  li Neuro-ophthalmologic and neuro-otologic disorders
                  li Neurorehabilitation
                  li Neuroplasticity
                  li Pediatric and neonatal epilepsy
                  li Peripheral neuropathies
                  li Psychiatric and functional
                  li Pain (sensory pathways and sensation, excluding headaches)
                  li Sleep disorders
                  li Spinal cord disorders (incl. degenerative ataxias)
                  li Stroke
                  li Trauma (TBI, head & other parts of the body)
                  li Other
                  li Multiple Medical Conditions listed above apply

            .box-categories
              .box-title
                h3 NEUROPHYSIOLOGICAL TECHNIQUE
              .box-content
                ul.custom-list
                  li Autonomic studies
                  li Brain-computer interfaces including neurofeedback
                  li Brain stem reflexes (blink, startle, etc.)
                  li Cognitive assessment
                  li Consumer wearable devices
                  li Electroencephalography & EEG monitoring
                  li Electromyography & nerve conduction studies
                  li Evoked and event-related potentials
                  li Functional brain imaging (incl. fMRI, MEG, EEG, NIRS)
                  li High Density EEG
                  li Intra-operative monitoring
                  li Invasive brain stimulation
                  li Invasive EEG
                  li Motor control
                  li Movement disorders
                  li Neuroimaging of brain and spinal cord (incl. MRI, PET, etc.)
                  li Neuroimaging of peripheral nerve and muscle (incl. ultrasound, MRI, etc.)
                  li Neuro-ophthalmologic & neuro-otologic testing
                  li Neurostimulation- other (e.g. spinal cord, cranial and peripheral nerve stimulation, etc.)
                  li Noninvasive brain stimulation (including TMS, tDCS, tACS, etc.)
                  li Polysomnography and related procedures
                  li Quantitative sensory testing
                  li Other








