extends templates/layout.pug

block vars
  - var activepage = "ta";

block content
  .travel
    section.masthead-small
      .masthead-bg(style="background-image: url(images/img-masthead-visa.png")
      .masthead-text
        .container
          .row.justify-content-center
            .col-lg-10
              .row
                .col-md-7
                  h1 Indonesian Visa
                .col-md-5
                  span.masthead-date 10 - 14 September 2024 / Jakarta

    section.ta-content
      .container
        .row.justify-content-center
          .col-lg-10
            article
              h3 Indonesian Visa Application
              p To prevent the spread of COVID-19 transmission, the Indonesian government is continuously leveraging innovative responses such as the introduction of digital public services. The Indonesian Ministry of Law and Human Rights has launched an electronic visa (e-Visa) application system aimed to provide ease of access, especially during the pandemic.

              p The e-Visa application system will also facilitate future foreign tourists who wish to visit Indonesia after the pandemic, making a positive impact on the development of tourism and creative economy of Indonesia. In the meantime, safe tourist destinations are being prepared in compliance with health protocols. With the launch of this service, foreigners no longer need to visit the Republic of Indonesia Representative out of the country or the Immigration Office in the country to get a visa sticker on their passport. To enter Indonesia, they just need to apply for a visa online via this e-Visa application system. <br>The steps to apply for the Indonesian e-Visa are as follows:
              ol.boxgrey
                li  Visit <a href="https://visa-online.imigrasi.go.id/" target="_blank">https://visa-online.imigrasi.go.id/</a>
                li Register
                  ul
                    li Enter data and upload required documents (individual/ corporation)
                    li Wait for the email notification which contains the username and password
                li Apply for Visa
                  ul
                    li Log in using the username and password
                    li Select the type of visa you wish to apply for, enter data, and upload required documents
                    li Make PNBP payments (Make sure the data and documents are correct. If the application is rejected, the payment shall not be refunded)
                    li If the application is approved, a notification will be sent via email
              p The application for e-Visa can be submitted from wherever the applicant is. The verification process will be quick, which is 3  (two) – 5 (five) working days, and then the visa will be sent to the applicant. In order to cut bureaucratic procedures, the applicant and the guarantor will not be required to appear in person and the visa will be sent directly via email. Once the foreign citizens (WNA) receive their e-Visa, they can immediately travel to Indonesia. 

              p The ease of applying for an Indonesian visa will play an important role to facilitate the post-pandemic recovery of tourism and creative economy sectors. With this innovation, the number of tourists visiting Indonesian destinations is expected to grow after the pandemic.









