extends templates/layout.pug

block vars
  - var activepage = "ab-travel";

block content
  .abstract
    section.masthead-small
      .masthead-bg(style="background-image: url(images/masthead-travel-grants.jpg)")
      .masthead-text
        .container
          .row.justify-content-center
            .col-lg-10
              .row
                .col-md-6
                  h1 Travel Grants
                .col-md-6
                  span.masthead-date 10 - 14 September 2024 / Jakarta

    section.abstract-travel
      .container
        .row.justify-content-center
          .col-lg-10
            .section-heading
              h2 2024 TRAVEL GRANT
              p The International Federation of Clinical Neurophysiology (IFCN) will be providing travel grants to facilitate accessibility and diversity at the 2024 International Congress of Clinical Neurophysiology (ICCN 2024). The ICCN 2024 encourages participants to apply for travel grants, which will to an extent support the delegate's financial needs to travel and participate in ICCN 2024 in Jakarta, Indonesia, from September 10th - 14th, 2024. The application will be considered only upon period of abstract submission. To qualify for a travel grant, participants must fullfill the requirements below:
            .requirements-box
              .row
                .col-lg-4
                  .thumbnail
                    img(src="images/img-travel-grants.jpg", alt="img")
                .col-lg-8
                  .requirements-list
                    .requirements-item
                      .number 1.
                      p Participants must be a First Author or Presenting Author
                    .requirements-item
                      .number 2.
                      p Travel grants are prioritized for participants with an age of less than 40 years old by September 2024 (kindly attach a copy of your identification). <b>Participants with an age of more than 40 years old, may apply for a travel grant.</b>
                    .requirements-item
                      .number 3.
                      p From developing or underdevelop country will be prioritized
                .col-lg-12
                  .text-center
                    p The grants will be announced along with the abstract acceptance announcement in Aprill 2024. The grant could be collected during the ICCN 2024 on 10th - 14th of September 2024 in Jakarta once the participant’s ID has been verified on site.
          .col-lg-7
            .box-note
              h3 NOTE:
              p The committee can cancel the awarding of grants if participants fail to fullfill and show the requirements during verification process during event










