footer.footer
  .container
    .row.justify-content-center
      .col-lg-10
        .row.justify-content-between
          .col-lg-6
            .footer-left
              //- address Jl. Gatot Subroto No.1, RT.1/RW.3, Gelora, Kecamatan Tanah Abang, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10270
              address Apartemen Menteng Square, Tower A blok R-19 Jl. Matraman nomor 30E, Jakarta, Indonesia
              .footer-contact
                ul
                  li Telephone :
                    a(href="tel: +6282452156231") &nbsp;+6282452156231
                  li Email :
                    a(href="mailto: exampleemail@email.com") &nbsp;exampleemail@email.com
          .col-lg-5
            .footer-right
              .footer-socmed
                a(href="https://www.instagram.com/iccn2024/" target="_blank")
                  img(src="images/ic-instagram.svg", alt="icon")
                a(href="https://twitter.com/iccn2024/" target="_blank")
                  img(src="images/ic-twitter.svg", alt="icon")
                //- a(href="#")
                //-   img(src="images/ic-gplus.svg", alt="icon")
                //- a(href="#")
                //-   img(src="images/ic-linkedin.svg", alt="icon")
              .footer-cpyright
                p Copyrights © 2023 All Rights Reserved
                div
                  a(href="#") Privacy Policy
                  | &nbsp; | &nbsp;
                  a(href="#") Terms & Conditions
